<aside id="callout" class="services bg-success">
  <div class="text-vertical-center">
    <h1>Agenda Pemateri:</h1>
    <h2>Membuat Aplikasi Android, Auto Group Texting - Oleh: <b>Deni Luvi Jayanto</b></h2>
    <h2>Clustering Virtual Server - Oleh: <b>M. Saiful Mukharom</b></h2>
    <h2>Mikrotik - Oleh: <b>Andri Wiratmono</b></h2>
    <h2>Integrasi IDS with SMS Gateway - Oleh: <b>Rosid Afandy</b></h2>
    <h2>Laravel - Oleh: <b>Reka</b></h2>
    <h2>Enterprise Arsitect - Oleh: <b>Dicky Wahyu Ramadhani</b></h2>
    <h2>Membuat Web Instant di VPS dengan Control Panel Gratis yang Cepat - Oleh: <b>Hervay Septian Adi P.</b></h2>
    <h2>Mengenal Ruby, Teman Terbaik Programmer - Oleh: <b>Ukaza Putro Satya P.</b></h2>
    <h1>Mulai Pukul 13.30 WIB</h1>
  </div>
</aside>
