<header id="top" class="header">
  <div class="text-vertical-center">
  	<img src="img/7631020.png">
    <h1>MeetupKCU 2015</h1>
    <h3>Free &amp; Enjoy</h3>
    <br>
    <a href="#about" class="btn btn-dark btn-lg">SCHEDULE</a>
    <hr class="small">
        <ul class="list-inline">
          <li>
            <h2><b>Where:</b><h2>
            <b>Hall Campus 2 UNP Kediri</b>
          </li>
          <li>
          	<vr class="small">
          </li>
          <li>
            <h2><b>When:</b><h2>
            <b>Sabtu, 7 November 2015</b>
          </li>
        </ul>
  </div>
</header>
